useDynLib(Meta4Design, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
export(MetaX, cmpMetaX)
importFrom("Rcpp", sourceCpp)
importFrom("gtools", combinations, permutations)
importFrom("parallel", mclapply, detectCores)
importFrom("laGP", distance)
#importFrom("NMOF", TAopt)
